<div class="row card-group text-center">
    <div *ngFor="let service of services" class="col-4 card">
        <a [routerLink]="[service.ServiceID]">
            Book Now!<br>
        </a>

        Service: {{service.ServiceName}}<br><br>
        Description: {{service.Description}}<br><br><br>
        Price: $ {{service.Price}}<br>
        Duration (Minutes): {{service.Minutes}}<br>
    </div>


</div>