<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-2">
    <div class="col" *ngFor="let service of matchingServices">
        <div class="card shadow-sm h-100 w-100">
            <div class="card-body">
                <h5 class="card-title">{{service.ServiceName}}</h5>
                <p class="card-text">{{service.Description}}</p>
                <a [routerLink]="['/service-detail']" [queryParams]="{ id: service.ServiceID }" class="btn btn-primary">details</a>
            </div>
        </div>
    </div>
</div>

<table class="table table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>Spa Services</th>
            <th>Category Id</th>
            <th>What to expect?</th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let category of categories">
            <td><a [routerLink]="['/services']" [queryParams]="{ id: category.CatId }">{{ category.CategoryName }}</a></td>
            <td>{{ category.CatId }}</td>
                <img [src]="category.Image">
        </tr>
    </tbody>
</table>
<footer></footer>